# Versiones principales
Django==5.2.3
python-dotenv==1.0.0
whitenoise==6.6.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
Pillow==10.2.0

# Utilidades para producción
dj-database-url==2.1.0
python-multipart==0.0.9

# Vercel
vercel==0.10.0

# Otras dependencias
# Agrega aquí otras dependencias que estés utilizando en tu proyecto
