# Versiones principales
Django==5.0.6
python-dotenv==1.0.0
whitenoise==6.6.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
Pillow==10.2.0

# Utilidades para producción
dj-database-url==2.1.0
python-multipart==0.0.9

# Eliminada dependencia de vercel ya que no es necesaria
# y está causando problemas de compatibilidad

# Otras dependencias
# Agrega aquí otras dependencias que estés utilizando en tu proyecto
